.flex {
    display: flex;
}

.inline-block {
    display: inline-block;
}

.text-white {
    color: white;
}

.text-gray {
    color: gray;
}

.my-container {
    flex-direction: column;
}

a:hover {
    color: white;
}

.padding-0 {
    padding: 0;
}

/* bar */

header {
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 70px;
    background-color: black;
    padding: 0 8px;
}

header a {
    padding: 8px;
    text-decoration: none;
}



/* bar-side */
header .bar-side {
    flex-basis: 200px;
    flex-shrink: 0;
    align-items: center;
}

header .bar-side .container-img {
    height: 50px;
}

header .bar-side img {
    height: 100%;
}

header .bar-side .title-bar-side {
    padding-left: 8px;
    flex-grow: 1;
}

header .bar-side h5,
header .bar-side h6 {
    margin: 0;
}

@media all and (max-width: 565px) {
    header .bar-side {
        flex-basis: 150px;
    }
}

@media all and (max-width: 475px) {
    header a {
        padding: 8px 4px;
    }

    header .bar-side {
        flex-basis: 120px;
    }
}

/* bar-center */
header .bar-center {
    flex-basis: 400px;
    flex-shrink: 1;
    border: 1px solid black;
}

.bar-center .container-btn {
    justify-content: center;
    align-items: center;
}

.container-progress-bar {
    align-items: center;
}

.time-progress-bar {
    flex-shrink: 0;
    padding: 0 8px;
}

header .progress-bar {
    height: 5px;
    border-radius: 5px;
    background-color: gray;
    width: 50px;
    flex-grow: 1;
    position: relative;
}

header .progress-bar .my-progress {
    height: 5px;
    width: 15%;
    background-color: rgb(199, 195, 195);
    border-radius: 5px;

}

.circle-progress {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 12%;
    top: -5px;
    display: none;
}

.progress-bar:hover .my-progress {
    background-color: rgb(9, 221, 9);
}

.progress-bar:hover .circle-progress {
    display: block;
}

main {
    height: calc(100vh - 70px);
    background-color: yellow;
}

aside, section {
    width: 50%;
    height: calc(100vh - 70px);
    border: 1px solid black;
}