body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.my-container {
    flex-direction: column-reverse;
}

/* utility */
.flex {
    display: flex;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.text-white {
    color: white;
}

.text-gray {
    color: gray;
}

a:hover {
    color: white;
    text-decoration: none;
}

.padding-0 {
    padding: 0;
}

.padding-8{
    padding: 8px 0;
}

.padding-15 {
    padding: 15px;
}

.progress-bar {
    height: 5px;
    border-radius: 5px;
    background-color: gray;
    flex-grow: 1;
    position: relative;
}

.font-w-500 {
    font-weight: 500;
}

.circle {
    border-radius: 50%;
}

/* bar */
header {
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 70px;
    background-color: rgb(40, 40, 40);
    /* padding: 0 8px; */
}

header a {
    padding: 8px;
    text-decoration: none;
}

/* bar-side */
header .bar-side {
    flex-basis: 210px;
    flex-shrink: 0;
    align-items: center;
    padding: 0 8px;
}

header .bar-side .container-img {
    height: 50px;
}

header .bar-side img {
    height: 100%;
}

header .bar-side .title-bar-side {
    padding-left: 8px;
    flex-grow: 1;
}

header .bar-side h5,
header .bar-side h6 {
    margin: 0;
}

@media all and (max-width: 565px) {
    header .bar-side {
        flex-basis: 150px;
    }
}

@media all and (max-width: 475px) {
    header a {
        padding: 8px 4px;
    }

    header .bar-side {
        flex-basis: 120px;
    }
}

/* bar-center */
header .bar-center {
    flex-basis: 400px;
    flex-shrink: 1;
}

.bar-center .container-btn {
    justify-content: center;
    align-items: center;
    height: 42px;
    text-align: center;
}

.bar-center .container-btn .fa-play-circle-o {
    width: 30px;
    height: 15px;
}

a.play:hover i.fa-play-circle-o {
    font-size: 30px;
}

.container-progress-bar {
    align-items: center;
}

.time-progress-bar {
    flex-shrink: 0;
    padding: 0 8px;
    font-size: 10px;
}

aside .progress-bar {
    width: 50px;
}

header .progress-bar .my-progress {
    height: 5px;
    width: 15%;
    background-color: rgb(199, 195, 195);
    border-radius: 5px;
}

.circle-progress {
    height: 15px;
    width: 15px;
    background-color: white;
    position: absolute;
    left: 15%;
    top: -5px;
    transform: translateX(-50%);
    display: none;
}

.progress-bar:hover .my-progress {
    background-color: rgb(9, 221, 9);
}

.progress-bar:hover .circle-progress {
    display: block;
}

/* aside */
aside {
    width: 210px;
    height: calc(100vh - 70px);
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 8px;
    background-color: black;
    overflow: hidden;
}

@media all and (max-width: 767px) {
    aside {
        width: 70px;
        align-items: center;
        text-align: center;
    }

    aside img {
        margin-bottom: 10px;
    }

    .dowload {
        margin-bottom: 10px;
    }

}

aside .container-icon {
    width: 30px;
    height: 30px;
}

aside .container-icon svg {
    max-width: 100%;
}

aside .install .container-icon {
    width: 20px;
    height: 20px;
}



/* aside-logo */
aside .container-logo {
    width: 60%;
    flex-shrink: 0;
    padding-bottom: 20px;
}

aside .container-logo img {
    width: 100%;
}

.logo-small {
    width: 35px;
}

/* aside-menu */
aside .menu {
    flex-shrink: 0;    
}

aside .menu .home,
aside .menu .search,
aside .menu .library {
    padding: 4px 0;
}

aside .menu a span,
aside .playlist a span,
aside .install a span {
    margin-left: 5px;
}

/* aside-playlist */
aside .playlist {
    flex-grow: 1;
    flex-direction: column;
    overflow: scroll;
}

/* aside-utent */
aside .utent {
    flex-shrink: 0;   
}

.utent .install {
    flex-shrink: 0;
    flex-direction: column;
}

.utent .install a:first-child {
    padding-top: 8px;
    margin-top: 5px;
}

.utent .install .progress-bar {
    width: 100%;
    align-self: center;
    margin: 10px 0;
    height: 1px;
}

/* section */
section {
    width: calc(100vw - 210px);
    height: calc(100vh - 70px);
    background-color: rgb(21, 25, 32);
}

@media all and (max-width: 767px) {
    section {
    width: calc(100vw - 70px);
    }

}

/* upgrade */
.upgrade {
    background-color: rgb(8, 11, 17);
    height: 70px;
    position: relative;
}

.upgrade button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    padding: 8px 15px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.upgrade button:hover {
    font-size: 14px;
}


/* content-section */
.content-section {
    height: calc(100vh - 70px - 70px);
    padding: 15px;
    flex-direction: column;
}

/* nav  */
.nav {
    margin-bottom: 5px;
}

.nav ul {
    text-align: center;
    margin: 0;
}

.nav ul li {
    margin: 0 5px;
    padding: 5px;
    display: inline-block;
}

.nav .progress-bar {
    width: 30px;
    height: 2px;
    background-color: rgb(200, 255, 95);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* content */
.content {
    overflow: scroll;
}

.content h4 {
    margin: 15px 0;
}

/* row */
.container-row {
    overflow: hidden;
}

.content .my-row {
    justify-content: start;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.content .my-row .card {
    flex-basis: calc(100% / 6 - 10px);
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

@media all and (max-width: 991px) {
    .content .my-row .card {
        flex-basis: calc(100% / 4 - 10px);
    }
}

@media all and (max-width: 767px) {
    .content .my-row .card {
        flex-basis: calc(100% / 2 - 10px);
    }
}

.content .my-row .card .container-img {
    position: relative;
    margin-top: 10px;   
}

.content .my-row .card img {
    width: 100%;
}

.my-row a.card:hover .hover-play {
    display: block;
}

.hover-play {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    display: none;
}

.hover-play i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-img.circle {
    overflow: hidden;
}